@import './resets'; 

$phone: 440px;
$tablet: 768px;
$desktop: 1366px;

body{
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
}
form{
    width: 596px;
    height: 350px;
    background-color: #fff;

    h1{
        text-align: center;
        font-size: 34px;
        color: #646D94;
        padding: 40px 0 30px 0;
        
    }
    p{
        font-size: 20px;
        letter-spacing: 0.5px;
        width: 90%;
        margin: auto;
        text-align: left;
        color: rgba(0,0,0,0.7);
        opacity: 0.8;
        line-height: 30px;
    }
    .input-button{
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    input{
        height: 70px;
        width: 583px;
        border-radius: 20px;
        background-color: #C4C4C4;
        outline: 0;
        border: none;
        font-size: 20px;
        line-height: 30px;
        padding-left: 50px;
        color: rgba(0,0,0,0.4);
    }
    button{
        height: 70px;
        width: 180px;
        border-radius: 20px;
        padding: 20px;
        margin-left: -100px;
        background-color: #646D94;
        outline: 0;
        border: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    #errors{
        display: flex;
    }
    #email-error, #submit-error{
        color: red;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 10px;
        
    }
}

@media (min-width: 200px) and (max-width: 400px){
    body{
        align-items:flex-start;
        margin-top: 30%;
    }
    form{
        width: 295px !important;
        height: 230px !important;
        h1{
            font-size: 20px !important; 
            padding-bottom: 10px !important;
        }
        p{
            font-size: 12px !important;
            letter-spacing: 1px;
            line-height: 15px;
            word-spacing: 2px;
        }
        input{
            height: 40px;
            width: 100px;
            font-size: 12px !important;
        }
        button{
            width: 100px;
            margin-left: -50px !important;
            font-size: 12px !important;
        }
        #email-error, #submit-error{
            font-size: 10px;
            margin-left: 10px;
            
        }
    }
}
@media (min-width: 400px) and (max-width: 600px){
    form{
        width: 350px !important;
        height: 240px !important;
        h1{
            font-size: 20px !important; 
        }
        p{
            font-size: 15px !important;
            letter-spacing: 1px;
            line-height: 20px;
        }
    }
}

@media(max-width: $tablet){
    form{
        width: 450px;
        height: 300px;
        h1{
            font-size: 24px; 
        }
        p{
            font-size: 18px;
        }
        input{
            height: 40px;
            width: 310px;
            border-radius: 10px;
            font-size: 16px;
            padding-left: 20px;
        }
        button{
            height: 40px;
            width: 130px;
            border-radius: 10px;
            padding: 5px;
            margin-left: -30px;
            font-size: 16px;
        }
        #email-error, #submit-error{
            font-size: 10px;
            margin-left: 10px;
            
        }
    }
}
